/* This is an test css */
* {
    box-sizing: border-box;
}

.main {
background-color:#006bff;
float:left;
width:50%;   
padding:20px;
}

.left {
background-color:#006bff;
float:left;
width:20%;
padding:20px;
   
}

.right { 
background-color:#006bff; 
float:right; 
width:30%;
padding:20px;
}


